/*
  px <-> em: http://pxtoem.com/
*/

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;

  // https://goo.gl/YK3TNB
  // size/line-height | family
  font: 16px/1 'Open Sans', Arial, Helvetica, sans-serif;
}

.item {
  transition: background .2s, color .2s;
}

.controls-container {
  transition: opacity .5s;
}

.control {
  @extend .bg-transparent;
  @extend .color-inherit;
  border-radius: 50%;
  height: 2.5rem;
  width: 2.5rem;
  font-size: 1rem;
  border: 1px solid;
  transition: background .1s;

  &:hover {
    @extend .bg-white-20;
  }

  &:active {
    @extend .bg-white-40;
  }
}

#typer-demo-container {
  font-size: 6vmin;

  &.ready {
    font-size: initial;
    transition: opacity .5s;
  }
}

#explanation,
#example {
  transition: all .5s;
}

.pane-spacer {
  height: 20px;
}

.matrix {
  font-family: Courier, monospace;
}

.matrix-span {
  left: 0vw;
  top: 0vh;
  transform: rotate(0deg);
}

.mono {
  font-family: monospace;
}
