/*
  px <-> em: http://pxtoem.com/
*/

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;

  // https://goo.gl/YK3TNB
  // size/line-height | family
  font: 16px/1 'Open Sans', Arial, Helvetica, sans-serif;
}

/*
  React is NOT mounted here.
  Typer will use this for all-the-things.
*/
#typer-demo-container {
}

// React is mounted to this element.
#app {
}
